

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .page{
    background: data-uri('/res/images/bg-body.jpg') no-repeat top center;
    background-size: cover;
  }
  .headbox{
    width:100%;
    height:20%;
    top: 12%;
    position: absolute;
    .title {
      position: absolute;
      width: 75%;
      height: 63%;
      display: inline-block;
      background-size: contain;
      background: data-uri('/res/images/title.png') no-repeat;
      left:12%;
      text-indent: -999em;
    }
  }
  
  .chestbox {
    width: 100%;
    height:33%;
    top: 30%;
    position: absolute;
  }

  .chest {
    position: absolute;
    width: 50%;
    height: 88%;

    display: inline-block;
    background-size: contain;
    background: data-uri('/res/images/chest-close.png') no-repeat;
    left:25%;
  }
  .chest-open{
    width: 59%;
    height: 88%;
    display: inline-block;
    background-size: contain;
    background: data-uri('/res/images/chest-open.png') no-repeat;
    left:25%;
    top:-4%;
  }
  .btnbox{
    width: 100%;
    height:10%;
    top: 66%;
    position: absolute;
    .btn{
      display: block;
      left:25%;
      position: absolute;
      width:50%;
      height:76%;
      background-size: contain;
      background: data-uri('/res/images/btn.png') no-repeat;
    }
    .btn-open{
      display:none;
    }
  }
  .footer{
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
  }
  