* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .page{
    background: data-uri('/res/images/bg-body.jpg') no-repeat center center;
    background-size: cover;
  }
  .lottery{
    .ad{
      position: absolute;
      top:1%;
      right:0;
      width:31px;
      height: 18px;
      background: data-uri('/res/images/icon-ad.png') no-repeat center center;
      background-size: cover;
    }
    .status{
      width: 100%;
      height: 40px;
      top: 0;
      position: absolute;
      background: rgba(0,0,0,0.5);
      color: #FFFFFF;
      line-height: 40px;
      text-align: center;
    }
    .headbox{
      width:100%;
      height:20%;
      top: 12%;
      position: absolute;
      .title {
        position: absolute;
        width: 75%;
        height: 63%;
        display: inline-block;
        background-size: contain;
        background: data-uri('/res/images/title.png') top center no-repeat;
        left:12%;
        text-indent: -999em;
      }
    }
    
    .chestbox {
      width: 100%;
      height:33%;
      top: 30%;
      position: absolute;
      .chest {
        position: absolute;
        width: 50%;
        height: 88%;
        display: inline-block;
        background-size: contain;
        background: data-uri('/res/images/chest-close.png') top center no-repeat;
        left:25%;
      }
      .chest-open{
        width: 59%;
        height: 88%;
        display: inline-block;
        background-size: contain;
        background: data-uri('/res/images/chest-open.png') top center no-repeat;
        left:25%;
        top:-4%;
      }
    }
    .rule{
      position: absolute;
      bottom:10%;
      right:0;
      width:80px;
      height: 25px;
      .btn-rule{
        width:80px;
        height: 25px;
        background: data-uri('/res/images/btn-rule.png') no-repeat center center;
        background-size: cover;
        text-indent: -999em;
        display:block;
      }
      
    }
    
    .btnbox{
      width: 100%;
      height:10%;
      top: 66%;
      position: absolute;
      .btn{
        display: block;
        left:25%;
        position: absolute;
        width:50%;
        height:76%;
        background-size: contain;
        background: data-uri('/res/images/btn.png') top center no-repeat;
      }
      .btn-open{
        display:none;
      }
    }
    .number{
      position: absolute;
      top:77%;
      width:100%;
      text-align: center;
      font-size: 16px;
      color: #fff06f;
      height: 46px;
      line-height: 46px;
      background: data-uri('/res/images/bg-number.png') no-repeat center center;
      background-size: cover;
    }
    .footer{
      width: 94%;
      height: 40px;
      bottom: 0;
      position: absolute;
      background: rgba(75,3,16,0.85);
      color: #FFFFFF;
      line-height: 40px;
      background-image: data-uri('/res/images/icon-clock.png');
      background-size:28px 32px;
      background-position: 8px;
      background-repeat: no-repeat;
      padding-left:12%;
      .left-text{
        position: absolute;
        right: 8%;
        bottom:0;
        text-align:right;
      }
    }
  }
.nb-modle {
  &.fixed-btn {
        width: 270px;
        margin-left: -135px;

        .modal-inner {
            height: auto;
        }
    }
    width: 80%;
    height: auto;
    // background-image: data-uri('/res/images/popup.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 20%;
    left: 10%;
    overflow: visible;
    background: #ffffff;
    border-radius: 18px;

    .modal-inner {
        background-color: transparent;
        height: 370px;
    }

    .modal-inner:after {
        display: none;
    }

    .external.button {
        margin-top: 258px;
    }
    .index-popup-btn {
      position: absolute;
      left: 50%;
      bottom: -30%;
      width: 40px;
      margin-left:-20px;
      height: 40px; 
      
      .index-popup-close{
        width: 30px;
        height: 30px;
        text-indent: -999em;
        background: data-uri('/res/images/close.png') no-repeat;
        background-size: 30px 30px;
        display: block;
      }
    }
    .button {
      border-color: #969696;
      background-color: #969696;
    }
    .button.active{
      border-color: rgba(172,133,65,1);
      background-color:rgba(172,133,65,1);
    }
}
.popup-success{
  background: #ffffff data-uri('/res/images/pop-success.png') no-repeat ;
  background-size:264px 155px;
  background-position: center  20px;
  height:auto;
  .content-block {
    margin-top: 190px;
    margin-bottom: 10px;
  }
}
.ico-close {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: data-uri('/res/images/close.png');
    background-size: cover;
}
.close-popup {
      position: absolute;
      bottom: -24%;
      left: 50%;
      margin-left: -15px;
}